<div class="post">
    <div class="card">
        <div class="card-header">
            <h2>{{post.title}}</h2>
            <div>{{post.User.username}} {{format_date post.createdAt}}</div>
        </div>
        <div class="card-body">{{post.body}}</div>
    </div>

    {{#if post.Comments}}
    <section class="card">
        <div class="card-header">
            <h3>Comments</h3>
        </div>

        <div class="card-body">
    {{#each }}
    <div>
        <p>{{body}}</p>
        <p>{{User.username}},{{format_date post.createdAt} </p>
    </div>

    {{/each}}

        </div>
    </section>

    {{/if}}

    <form id="new-comment" class="card">
        <div class="card-header">
            <h3>add new comment</h3>
        </div>

        <div class="card-body">
            <input type="hidden" name="post-id" value='{{post.id}}' />
            <label for="comment-body" class="form-label">Comment</label>
            <button class="btn" type="button">Submit</button>
        </div>
    </form>
</div>

<script src=""></script>